[buildout]
extends = parameters.cfg
develop = checkouts/nva.psyquizz
versions = versions
parts += python migrate_duration migrate_strategy migrate_anonymous pytest

[versions]
six = 1.10.0
zc.recipe.egg = 2.0.3
mr.developer = 1.37
Paste = 2.0.3
dolmen.forms.base = 2.6
dolmen.forms.ztk = 2.4.1
fanstatic = 1.0a7
grokcore.component = 2.5

[python]
recipe = zc.recipe.egg
interpreter = py
eggs = nva.psyquizz

[migrate_duration]
recipe = collective.recipe.scriptgen
cmd = ${buildout:bin-directory}/${python:interpreter}
arguments = ${buildout:directory}/run/migrate_duration.py ${settings:DSN}

[migrate_strategy]
recipe = collective.recipe.scriptgen
cmd = ${buildout:bin-directory}/${python:interpreter}
arguments = ${buildout:directory}/run/migrate_strategy.py ${settings:DSN}

[migrate_anonymous]
recipe = collective.recipe.scriptgen
cmd = ${buildout:bin-directory}/${python:interpreter}
arguments = ${buildout:directory}/run/migrate_anonymous.py ${settings:DSN}


[pytest]
recipe = zc.recipe.egg
entry-points = pytest=pytest:main
scripts = pytest
eggs = 
    ${app:eggs}
    nva.psyquizz[test] 
    pytest
arguments = ['--zcml', '${zcml:output}', '${buildout:sources-dir}/nva.psyquizz/src'] + sys.argv[1:]
